@charset "UTF-8";
html {
  min-height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px; }

body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  position: relative; }
  body .content {
    width: 100%;
    min-height: 100px;
    background-color: #fff; }

header {
  width: 100%;
  height: 122px;
  background-color: #29333d; }
  header .navBar {
    max-width: 1100px;
    height: 120px;
    margin: 0 auto; }
    header .navBar .logo {
      height: 100px;
      width: auto;
      margin: 12px 0 10px 10px;
      display: inline-block;
      float: left; }
      header .navBar .logo img {
        height: 90px;
        width: auto; }
    header .navBar .toggle {
      cursor: pointer;
      width: 53px;
      height: 53px;
      float: right;
      font-size: 40px;
      color: white;
      display: none;
      background-color: #27ae60;
      text-align: center;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      header .navBar .toggle:hover {
        opacity: 0.8;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      header .navBar .toggle .fa-close:before {
        content: "";
        -webkit-transition: 0.3s;
        transition: 0.3s; }
    header .navBar .navLine {
      height: 120px;
      max-width: 400px;
      float: right;
      margin-right: 10px; }
      header .navBar .navLine .langBar {
        height: 40px;
        width: 400px;
        display: inline-block;
        float: left;
        margin-top: 5px; }
        header .navBar .navLine .langBar .social {
          height: 40px;
          display: inline-block;
          float: right; }
          header .navBar .navLine .langBar .social a {
            width: 40px;
            height: 40px;
            display: inline-block;
            float: right;
            border-left: 1px solid #374756;
            border-top: 1px solid #374756; }
            header .navBar .navLine .langBar .social a:first-child:hover {
              background-color: #6988ca;
              -webkit-transition: 0.5s;
              transition: 0.5s; }
            header .navBar .navLine .langBar .social a:nth-child(2):hover {
              background-color: #62c8f8;
              -webkit-transition: 0.5s;
              transition: 0.5s; }
            header .navBar .navLine .langBar .social a:nth-child(3):hover {
              background-color: #667ba7;
              -webkit-transition: 0.5s;
              transition: 0.5s; }
            header .navBar .navLine .langBar .social a:nth-child(1) {
              border-right: 1px solid #374756; }
            header .navBar .navLine .langBar .social a i {
              font-size: 20px;
              padding: 10px;
              color: #a9b0b7; }
              header .navBar .navLine .langBar .social a i:hover {
                color: white;
                -webkit-transition: 0.5s;
                transition: 0.5s; }
        header .navBar .navLine .langBar .lang {
          width: 103px;
          height: 40px;
          display: none;
          float: right;
          margin: 0px 0px 0px 0px;
          border-left: 1px solid #374756;
          border-right: 1px solid #374756; }
          header .navBar .navLine .langBar .lang .dropdown button {
            padding: 9px 12px;
            border-radius: 0px;
            background-color: #29333d;
            border-color: #27ae60; }
            header .navBar .navLine .langBar .lang .dropdown button:hover {
              opacity: 0.8;
              -webkit-transition: 0.5s;
              transition: 0.5s; }
          header .navBar .navLine .langBar .lang .dropdown ul {
            background-color: #29333d; }
            header .navBar .navLine .langBar .lang .dropdown ul li a {
              color: #a9b0b7; }
              header .navBar .navLine .langBar .lang .dropdown ul li a:hover {
                color: #ecedee;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                background-color: #27ae60; }
      header .navBar .navLine nav {
        height: 60px;
        width: 400px;
        display: inline-block;
        float: left;
        border-top: 1px solid #374756;
        border-bottom: 2px solid #27ae60; }
        header .navBar .navLine nav ul {
          padding: 0px;
          margin: 25px 0px;
          float: right; }
          header .navBar .navLine nav ul li {
            display: inline-block; }
            header .navBar .navLine nav ul li a {
              color: #a9b0b7;
              text-decoration: none;
              font-size: 16px;
              padding: 14px 10px;
              text-align: right; }
              header .navBar .navLine nav ul li a:hover {
                color: #ecedee;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                background-color: #27ae60; }
  header .sidebar {
    display: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

@media (max-width: 750px) {
  header {
    height: 77px; }
    header .navBar {
      height: 77px; }
      header .navBar .toggle {
        width: 40px;
        height: 40px;
        font-size: 31px;
        display: inline-block;
        margin: 20px 30px 0 0;
        position: relative; }
      header .navBar .navLine {
        display: none; }
      header .navBar .logo {
        height: 55px; }
        header .navBar .logo a img {
          height: 50px; }
    header .sidebar {
      display: inline-block !important;
      height: 1000px;
      width: 200px;
      background-color: #3b424a;
      position: fixed;
      right: 0px;
      top: 0px;
      z-index: -1;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
      header .sidebar .logo {
        display: inline-block;
        width: 160px;
        margin: 30px 20px; }
        header .sidebar .logo img {
          width: 160px;
          height: auto; }
      header .sidebar nav {
        width: 200px;
        margin: 50px auto 50px auto; }
        header .sidebar nav ul {
          list-style-type: none;
          margin: 0px;
          padding: 0px; }
          header .sidebar nav ul li {
            padding: 15px 30px; }
            header .sidebar nav ul li:hover {
              background-color: #27ae60;
              -webkit-transition-duration: 0.3s;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
            header .sidebar nav ul li a {
              padding: 10px 20px;
              color: white; }
              header .sidebar nav ul li a:hover {
                text-decoration: none; }
      header .sidebar .social {
        height: 40px;
        width: 120px;
        display: inline-block;
        float: right;
        margin: 0px 40px; }
        header .sidebar .social a {
          width: 40px;
          height: 40px;
          display: inline-block;
          float: right;
          border: 1px solid gray; }
          header .sidebar .social a:first-child:hover {
            background-color: #6988ca;
            -webkit-transition: 0.5s;
            transition: 0.5s; }
          header .sidebar .social a:nth-child(2):hover {
            background-color: #62c8f8;
            -webkit-transition: 0.5s;
            transition: 0.5s; }
          header .sidebar .social a:nth-child(3):hover {
            background-color: #667ba7;
            -webkit-transition: 0.5s;
            transition: 0.5s; }
          header .sidebar .social a i {
            font-size: 20px;
            padding: 10px;
            color: #a9b0b7; }
            header .sidebar .social a i:hover {
              color: white;
              -webkit-transition: 0.5s;
              transition: 0.5s; }

  .sidebarOpen {
    right: 200px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }

  .sidebarOpens {
    right: 0px;
    display: inline-block;
    position: fixed;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; } }
footer {
  width: 100%;
  position: absolute; }
  footer .footerabout {
    height: 250px;
    background-image: url(../img/footer.jpg);
    color: white; }
    footer .footerabout .about-wrapper {
      max-width: 1100px;
      margin: 0 auto;
      height: 250px; }
      footer .footerabout .about-wrapper .imgabout {
        width: 480px;
        float: left;
        padding: 0px 0px 0px 10px; }
        footer .footerabout .about-wrapper .imgabout img {
          height: 100px;
          width: auto;
          display: inline-block;
          float: left;
          margin: 67px 20px 83px 0px; }
        footer .footerabout .about-wrapper .imgabout p {
          width: 470px;
          margin: 75px 0px;
          text-align: justify; }
      footer .footerabout .about-wrapper .contact {
        display: inline-block;
        width: 165px;
        height: 100px;
        float: right;
        position: relative;
        margin: 75px 0px; }
        footer .footerabout .about-wrapper .contact .social {
          float: left;
          position: absolute; }
          footer .footerabout .about-wrapper .contact .social a {
            display: inline-block;
            min-width: 40px;
            padding: 5px 10px;
            border: 1px solid #efefef;
            border-color: #777;
            background-color: #777; }
            footer .footerabout .about-wrapper .contact .social a:first-child:hover {
              background-color: #6988ca;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
            footer .footerabout .about-wrapper .contact .social a:nth-child(2):hover {
              background-color: #62c8f8;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
            footer .footerabout .about-wrapper .contact .social a:nth-child(3):hover {
              background-color: #667ba7;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
            footer .footerabout .about-wrapper .contact .social a i {
              font-size: 1.075em;
              padding: 3px 0 0 3px; }
        footer .footerabout .about-wrapper .contact ul {
          float: left;
          padding: 0px;
          position: absolute;
          top: 40px;
          margin: 0px; }
          footer .footerabout .about-wrapper .contact ul li {
            list-style-type: none;
            margin-top: 20px;
            width: 165px; }
            footer .footerabout .about-wrapper .contact ul li i {
              color: white;
              margin-right: 5px; }
        footer .footerabout .about-wrapper .contact a {
          font-size: 18px;
          color: white;
          margin: 0 5px; }
  footer .copyright {
    height: 70px;
    background-color: #1a2229;
    vertical-align: middle; }
    footer .copyright .end {
      max-width: 1100px;
      margin: 0px auto;
      padding: 25px 10px; }
      footer .copyright .end nav {
        display: inline-block; }
        footer .copyright .end nav ul {
          padding: 0px;
          margin: 0px; }
          footer .copyright .end nav ul li {
            display: inline-block;
            margin: 0 10px 0 0; }
            footer .copyright .end nav ul li a {
              color: #a7aeb5; }
              footer .copyright .end nav ul li a:hover {
                color: #ecedee;
                -webkit-transition: 0.5s;
                transition: 0.5s; }
      footer .copyright .end p {
        float: right;
        color: #a7aeb5;
        font-size: 12px;
        margin: 0px; }

@media (max-width: 750px) {
  footer .footerabout {
    height: auto; }
    footer .footerabout .about-wrapper {
      padding: 40px;
      height: auto; }
      footer .footerabout .about-wrapper .imgabout {
        display: none !important; }
      footer .footerabout .about-wrapper .contact {
        float: none !important;
        margin: 0px auto !important;
        display: block !important; }
  footer .copyright .end nav {
    display: none !important; }
  footer .copyright .end p {
    width: 160px;
    margin: 0 auto !important;
    float: none !important; } }
.scene {
  width: 100%;
  position: relative; }
  .scene img {
    width: 100%;
    height: auto; }
  .scene .search {
    width: 730px;
    height: 290px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -365px;
    margin-top: -145px;
    padding: 0px 20px;
    display: none; }
    .scene .search #searchInfo {
      padding: 20px 0px;
      text-align: center;
      width: 630px;
      margin: 0 auto; }
      .scene .search #searchInfo .form-group {
        display: inline-block;
        text-align: left;
        margin: 0 0 5px 0;
        padding: 0px; }
        .scene .search #searchInfo .form-group label {
          color: white;
          font-size: 14px;
          font-weight: normal; }
        .scene .search #searchInfo .form-group #city-chosen .chosen-container {
          width: 630px;
          height: 34px; }
          .scene .search #searchInfo .form-group #city-chosen .chosen-container ul {
            border-radius: 5px;
            border-color: #ccc;
            height: 100% !important; }
        .scene .search #searchInfo .form-group #type-chosen .chosen-container {
          width: 313px;
          height: 34px; }
          .scene .search #searchInfo .form-group #type-chosen .chosen-container ul {
            border-radius: 5px;
            border-color: #ccc;
            height: 100% !important; }
        .scene .search #searchInfo .form-group #roomnumber-chosen .chosen-container {
          width: 313px;
          height: 34px; }
          .scene .search #searchInfo .form-group #roomnumber-chosen .chosen-container a {
            height: 34px;
            border: 1px solid #ccc; }
            /* .scene .search #searchInfo .form-group #roomnumber-chosen .chosen-container a span {
              padding-top: 3px; } */
        .scene .search #searchInfo .form-group #min-price {
          width: 122px; }
        .scene .search #searchInfo .form-group #max-price {
          width: 122px; }
        .scene .search #searchInfo .form-group #currency-chosen {
          width: 60px;
          height: 34px; }
          .scene .search #searchInfo .form-group #currency-chosen select {
            width: 100%;
            height: 100%;
            border-color: #ccc;
            border-radius: 5px;
            background-color: #fff; 
            }
        .scene .search #searchInfo .form-group #search-button {
          width: 313px; }

@media (max-width: 750px) {
  .search {
    position: static !important;
    margin: 0px !important;
    width: 100% !important;
    background-color: #29333d !important;
    height: auto !important;
    padding: 0px 0px !important; }
    .search #searchInfo {
      width: 300px !important;
      padding: 5px 0px !important; }
      .search #searchInfo .form-group #city-chosen .chosen-container {
        width: 300px !important; }
      .search #searchInfo .form-group #city-chosen select {
        width: 300px !important;
        height: 34px;
        border: 1px solid #ccc;
        border-radius: 5px; }
      .search #searchInfo .form-group #type-chosen .chosen-container {
        width: 300px !important; }
      .search #searchInfo .form-group #type-chosen select {
        width: 300px !important;
        height: 34px;
        border: 1px solid #ccc;
        border-radius: 5px; }
      .search #searchInfo .form-group #min-price {
        width: 116px !important; }
      .search #searchInfo .form-group #max-price {
        width: 116px !important; }
      .search #searchInfo .form-group #roomnumber-chosen .chosen-container {
        width: 300px !important; }
      .search #searchInfo .form-group #roomnumber-chosen select {
        width: 300px !important;
        height: 34px; }
      .search #searchInfo .form-group #search-button {
        width: 300px !important;
        margin-top: 10px; }

  .searchButtonCircle {
    display: block; } }
.list {
  text-align: center; }
  .list .list-title {
    height: 100px;
    background-color: #545e6b;
    background-image: url(../img/footer.jpg);
    padding: 30px 0px; }
    .list .list-title p {
      color: white;
      font-size: 28px;
      margin: 0px; }
  .list .ads {
    padding: 50px 10px; }
    .list .ads .one {
      width: 300px;
      height: 190px;
      display: inline-block;
      position: relative;
      overflow: hidden;
      margin: 10px 10px; }
      .list .ads .one .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #000;
        position: relative; }
        .list .ads .one .image a img {
          height: 190px;
          width: 100%;
          line-height: 0;
          -webkit-transition: all 1s ease;
          transition: all 1s ease; }
          .list .ads .one .image a img:hover {
            -webkit-transform: scale(1.5);
            -ms-transform: scale(1.25);
            transform: scale(1.25);
            opacity: 0.8; }
        .list .ads .one .image:after {
          content: "";
          position: absolute;
          left: 0px;
          bottom: 0px;
          height: 25%;
          width: 100%;
          background-color: white;
          opacity: 0.8; }
        .list .ads .one .image .top {
          margin: 0px;
          width: 100%;
          height: 22%;
          color: white;
          position: absolute;
          left: 0px;
          bottom: 0px;
          z-index: 10;
          font-size: 12px; }
          .list .ads .one .image .top .bed {
            width: 28px;
            display: inline-block;
            text-align: center;
            border: none; }
            .list .ads .one .image .top .bed p {
              margin: 0px;
              color: black; }
              .list .ads .one .image .top .bed p:nth-child(2) {
                color: #F54701; }
          .list .ads .one .image .top .location {
            width: 93px;
            display: inline-block;
            text-align: center;
            border: none; }
            .list .ads .one .image .top .location p {
              margin: 0px;
              color: black; }
              .list .ads .one .image .top .location p:nth-child(2) {
                color: #F54701; }
          .list .ads .one .image .top .type {
            width: 78px;
            display: inline-block;
            text-align: center;
            border: none; }
            .list .ads .one .image .top .type p {
              margin: 0px;
              color: black; }
              .list .ads .one .image .top .type p:nth-child(2) {
                color: #F54701; }
          .list .ads .one .image .top .price {
            width: 90px;
            display: inline-block;
            text-align: center;
            border: none; }
            .list .ads .one .image .top .price p {
              margin: 0px;
              color: black; }
              .list .ads .one .image .top .price p:nth-child(2) {
                color: #F54701;
                font-weight: bold; }
    @media (max-width: 750px) {
      .list .ads .one {
        margin: 0px; } }

.searchSection {
  width: 100%;
  background-color: #EFEFEF; 
  display : none;}
  .searchSection #searchInfo {
    padding: 20px 10px;
    text-align: center;
    width: 630px;
    margin: 0 auto; }
    .searchSection #searchInfo .form-group {
      display: inline-block;
      text-align: left;
      margin: 0 0 5px 0;
      padding: 0px; }
      .searchSection #searchInfo .form-group label {
        color: #252525;
        font-size: 14px;
        font-weight: normal; }
      .searchSection #searchInfo .form-group #city-chosen .chosen-container {
        width: 300px !important;
        height: 34px; }
        .searchSection #searchInfo .form-group #city-chosen .chosen-container ul {
          border-radius: 5px;
          border-color: #ccc;
          height: 100% !important; }
      .searchSection #searchInfo .form-group #district-chosen .chosen-container {
        width: 300px !important;
        height: 34px; }
        .searchSection #searchInfo .form-group #district-chosen .chosen-container ul {
          border-radius: 5px;
          border-color: #ccc;
          height: 100% !important; }
      .searchSection #searchInfo .form-group #type-chosen .chosen-container {
        width: 300px !important;
        height: 34px; }
        .searchSection #searchInfo .form-group #type-chosen .chosen-container ul {
          border-radius: 5px;
          border-color: #ccc;
          height: 100% !important; }
      .searchSection #searchInfo .form-group #min-price {
        width: 116px; }
      .searchSection #searchInfo .form-group #max-price {
        width: 116px; }
      .searchSection #searchInfo .form-group #currency-chosen {
        width: 60px;
        height: 34px; }
        .searchSection #searchInfo .form-group #currency-chosen select {
          width: 100%;
          height: 100%;
          border-color: #ccc;
          border-radius: 5px;
          background-color: white; }
      .searchSection #searchInfo .form-group #roomnumber-chosen .chosen-container {
        width: 300px !important;
        height: 34px; }
      .searchSection #searchInfo .form-group #roomnumber-chosen a {
        height: 32px;
        border: 1px solid #ccc; }
        /* .searchSection #searchInfo .form-group #roomnumber-chosen a span {
          padding-top: 3px; } */
      .searchSection #searchInfo .form-group #min-area {
        width: 148px; }
      .searchSection #searchInfo .form-group #max-area {
        width: 148px; }
      .searchSection #searchInfo .form-group #min-floor {
        width: 148px; }
      .searchSection #searchInfo .form-group #max-floor {
        width: 148px; }
      .searchSection #searchInfo .form-group #search-button {
        width: 300px; }

.searchButtonCircle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #414C57;
  z-index: 100000;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease-out; }
  .searchButtonCircle:hover {
    background-color: #707B85;
    transition: 0.3s; }
  .searchButtonCircle span {
    position: relative;
    top: 13px;
    font-size: 32px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: white; }

@media (max-width: 750px) {
  .searchSection #searchInfo {
    width: 320px; }
    .searchSection #searchInfo .form-group #city-chosen select {
      width: 300px !important;
      height: 34px;
      border: 1px solid #ccc;
      border-radius: 5px; }
    .searchSection #searchInfo .form-group #district-chosen select {
      width: 300px !important;
      height: 34px;
      border: 1px solid #ccc;
      border-radius: 5px; }
    .searchSection #searchInfo .form-group #type-chosen select {
      width: 300px !important;
      height: 34px;
      border: 1px solid #ccc;
      border-radius: 5px; }
    .searchSection #searchInfo .form-group #roomnumber-chosen select {
      width: 300px !important;
      height: 34px; }
    .searchSection #searchInfo .form-group #search-button {
      margin-top: 10px; }

  .searchButtonCircle {
    display: block; } }
.content .annDes {
  width: 50%;
  display: inline-block;
  min-height: 521px; }
  .content .annDes .container {
    width: auto !important;
    padding: 0px; }
    .content .annDes .container h2 {
      text-align: center; }
    .content .annDes .container tr:hover {
      background-color: #F1F0F0; }
    .content .annDes .container tr:nth-child(1) td:nth-child(2) {
      color: #F54701; }
    .content .annDes .container tr td {
      border: none; }
      .content .annDes .container tr td:nth-child(1) {
        text-align: right;
        width: 40%; }
      .content .annDes .container tr td:nth-child(2) {
        text-align: left;
        width: 60%;
        font-weight: bold; }
.content > div.annOther > div > div.list-title > h2 {
  margin: 0px;
  color: white; }

div.content > div.container-fluid {
  padding: 20px 10px; }

.content > div.container-fluid > div {
  margin: 0px; }
  .content > div.container-fluid > div > div.col-md-8 > h2 {
    text-align: center;
    margin-top: 0px; }

.container-fluid > div > div.col-md-8 > table > tbody > tr > td {
  border: none; }
  .container-fluid > div > div.col-md-8 > table > tbody > tr > td:nth-child(1) {
    text-align: right;
    color: #807F7F; }
  .container-fluid > div > div.col-md-8 > table > tbody > tr > td:nth-child(2) {
    text-align: left;
    font-weight: bold; }

.feature {
	text-align: center; 
}

.social-network{
	margin : -20px auto 30px auto;	
	width : 180px;	
}
#price {
  color: #F54701; }

@media (max-width: 750px) {
  .content .annDes {
    width: 100%;
    display: block; }
  .content .annSlider {
    width: 100%;
    display: block;
    float: none;
    margin: 0px 0px 20px 0px; } }
.sectionContact {
  background: white;
  min-width: 300px;
  max-width: 600px;
  margin: 0px auto;
  padding: 100px 0 100px 0; }
  .sectionContact h3 {
    width: 100%;
    font-size: 27px;
    margin: 0 0 50px 0;
    text-align: center; }
  .sectionContact form .form-group {
    margin: 0px 0px 20px 0px; }
    .sectionContact form .form-group .nomre {
      padding-top: 0px; }

/*# sourceMappingURL=main-style.css.map */