	@charset "UTF-8";
/*base styles */
html {
  min-height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;}
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #eee !important;
  position: relative;
  overflow: hidden;
  font-family: "Arimo", sans-serif;  }
  body .content {
    width: 100%;
    min-height: 100vh;
    background-color: #eee !important; }
    
  #panel{
  display: none;}
    
.load{
	background: #fff;
    width: 100vw;
    height: 102vh;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load img{
	width: 50px;
	height: 50px;
}

/*header */
header {
  width: 100%;
  height: 122px;
  background-color: #29333d; }
  header .navBar {
    max-width: 1100px;
    height: 120px;
    margin: 0 auto; }
    header .navBar .logo {
      height: 100px;
      width: auto;
      margin: 12px 0 10px 10px;
      display: inline-block;
      float: left; }
      header .navBar .logo img {
        height: 90px;
        width: auto; }
    header .navBar .toggle {
      cursor: pointer;
      width: 53px;
      height: 53px;
      float: right;
      font-size: 40px;
      color: white;
      display: none;
      text-align: center;
      -webkit-transition: all .5s ease-in; 
        transition: all .5s ease-in;}
      header .navBar .toggle:hover {
        opacity: 0.8;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
    header .navBar .navLine {
      height: 120px;
      max-width: 400px;
      float: right;
      margin-right: 10px; }
      header .navBar .navLine .langBar {
        height: 40px;
        width: 400px;
        display: inline-block;
        float: left;
        margin-top: 5px; }
        header .navBar .navLine .langBar .social {
          height: 40px;
          display: inline-block;
          float: right; }
          header .navBar .navLine .langBar .social a {
            width: 40px;
            height: 40px;
            display: inline-block;
            float: right;
            border-left: 1px solid #374756;
            border-top: 1px solid #374756; }
            header .navBar .navLine .langBar .social a:first-child:hover {
              background-color: #dd4b39;
              -webkit-transition: 0.5s;
              transition: 0.5s; }
            header .navBar .navLine .langBar .social a:nth-child(2):hover {
              background-color: #517fa4;
              -webkit-transition: 0.5s;
              transition: 0.5s; }
            header .navBar .navLine .langBar .social a:nth-child(3):hover {
              background-color: #3b5998;
              -webkit-transition: 0.5s;
              transition: 0.5s; }
            header .navBar .navLine .langBar .social a:nth-child(1) {
              border-right: 1px solid #374756; }
            header .navBar .navLine .langBar .social span {
              line-height: 40px;
    		  margin-right: 20px;
    		  color: #a9b0b7;}
    		header .navBar .navLine .langBar .social span i{
    		  font-size: 16px;
    		  margin-right: 5px;
    		  color: #a9b0b7;}
            header .navBar .navLine .langBar .social a i {
              font-size: 20px;
              padding: 10px;
              color: #a9b0b7; }
              header .navBar .navLine .langBar .social a i:hover {
                color: white;
                -webkit-transition: 0.5s;
                transition: 0.5s; }
        header .navBar .navLine .langBar .lang {
          width: 103px;
          height: 40px;
          display: none;
          float: right;
          margin: 0px 0px 0px 0px;
          border-left: 1px solid #374756;
          border-right: 1px solid #374756; }
          header .navBar .navLine .langBar .lang .dropdown button {
            padding: 9px 12px;
            border-radius: 0px;
            background-color: #29333d;
            border-color: #27ae60; }
            header .navBar .navLine .langBar .lang .dropdown button:hover {
              opacity: 0.8;
              -webkit-transition: 0.5s;
              transition: 0.5s; }
          header .navBar .navLine .langBar .lang .dropdown ul {
            background-color: #29333d; }
            header .navBar .navLine .langBar .lang .dropdown ul li a {
              color: #a9b0b7; }
              header .navBar .navLine .langBar .lang .dropdown ul li a:hover {
                color: #ecedee;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                background-color: #27ae60; }
      header .navBar .navLine nav {
        height: 60px;
        width: 400px;
        display: inline-block;
        float: left;
        border-top: 1px solid #374756;
        border-bottom: 2px solid #27ae60; }
        header .navBar .navLine nav ul {
          padding: 0px;
          margin: 25px 0px;
          float: right; }
          header .navBar .navLine nav ul li {
            display: inline-block; }
            header .navBar .navLine nav ul li a {
              color: #a9b0b7;
              text-decoration: none;
              font-size: 16px;
              padding: 14px 10px;
              text-align: right; }
              header .navBar .navLine nav ul li a:hover {
                color: #ecedee;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                background-color: #27ae60; }
                
    .sidebar{
    display: none;}

@media (max-width: 750px) {
  header {
    height: 77px; }
    header .navBar {
      height: 77px; }        
      header .navBar .navLine {
        display: none; }
      header .navBar .logo {
        height: 55px;
        float: right;
        margin: 12px 20px 10px 0;
      }
        header .navBar .logo a img {
          height: 50px; }
          
/*sidebar styles*/

.sidebar{
	background-color: #29333d;
}
.sidebar img{
	height: 60px;
	margin: 10px 0 10px 35px;
} 
.sidebar .sidebar-wrapper{
	margin-top: 60px;
}
.sidebar nav {
    width: 200px;
    margin: 0;
    padding: 0; }
 .sidebar nav ul {
      list-style-type: none;
      padding: 0px; }
   .sidebar nav ul li {
        padding: 0px;
        border-top: 1px solid #414D59;}
    .sidebar nav ul li:nth-child(3) {
    	border-bottom: 1px solid #414D59;
    }    
    
     .sidebar nav ul li:hover {
          background-color: #27ae60;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
     .sidebar nav ul li a {
          color: white;
          padding: 15px 0 15px 50px;
          display: block;}
       .sidebar nav ul li a:hover {
            text-decoration: none; }

.sidebar .social {
  height: 40px;
  width: 200px;
  display: inline-block;
  padding: 0 43px 0 0; 
  margin-top: 15px}
.sidebar .social a {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: right;
    border: 1px solid gray;
    margin-left: 5px; }
   .sidebar .social a:first-child:hover {
      background-color: #dd4b39;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
  .sidebar .social a:nth-child(2):hover {
      background-color: #517fa4;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
  .sidebar .social a:nth-child(3):hover {
      background-color: #3b5998;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
  .sidebar .social a i {
      font-size: 20px;
      padding: 10px;
      color: #a9b0b7; }
    .sidebar .social a i:hover {
        color: white;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
        

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 200px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.sidebar-toggle{
	width: 45px;
	height: 40px;
	background: #27AD5F;
	cursor: pointer;
	display: flex;
	align-items: center;
	position: relative;
    top: 18px;
    left: 20px;
    padding: 0 0 0 5px; 
    border-radius: 1px;
}
.sidebar-toggler{
	color: white;
	font-size: 34px;
}
}

/*FOOTER */
footer {
  width: 100%;
  position: relative; }
  footer .footerabout {
    height: 250px;
    background-image: url(../img/footer.jpg);
    color: white;
    padding: 0 10px; }
    footer .footerabout .about-wrapper {
      max-width: 1100px;
      margin: 0 auto;
      height: 250px; }
      footer .footerabout .about-wrapper .imgabout {
        width: 480px;
        float: left;
        padding: 0px 0px 0px 10px; }
        footer .footerabout .about-wrapper .imgabout img {
          height: 100px;
          width: auto;
          display: inline-block;
          float: left;
          margin: 67px 20px 83px 0px; }
        footer .footerabout .about-wrapper .imgabout p {
          width: 470px;
          margin: 75px 0px;
          text-align: justify; }
      footer .footerabout .about-wrapper .contact {
        display: inline-block;
        float: right;
        margin-top: 70px;
        position: relative;}
        footer .footerabout .about-wrapper .contact .social { }
          footer .footerabout .about-wrapper .contact .social a {
            display: inline-block;
            min-width: 40px;
            padding: 5px 10px;
            border: 1px solid #efefef;
            border-color: #777;
            background-color: #777; }
            footer .footerabout .about-wrapper .contact .social a:first-child:hover {
              background-color: #3b5998;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
            footer .footerabout .about-wrapper .contact .social a:nth-child(2):hover {
              background-color: #517fa4;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
            footer .footerabout .about-wrapper .contact .social a:nth-child(3):hover {
              background-color: #dd4b39;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
            footer .footerabout .about-wrapper .contact .social a i {
              font-size: 1.075em;
              padding: 3px 0 0 3px; }
        footer .footerabout .about-wrapper .contact ul {
          padding: 0px;
          margin: 0px; }
          footer .footerabout .about-wrapper .contact ul li {
            list-style-type: none;
            margin-top: 20px;}
            footer .footerabout .about-wrapper .contact ul li i {
              color: white;
              margin-right: 5px; }
        footer .footerabout .about-wrapper .contact a {
          font-size: 18px;
          color: white;
          margin: 0 5px; }
  footer .copyright {
    height: 70px;
    background-color: #1a2229;
    vertical-align: middle; }
    footer .copyright .end {
      max-width: 1100px;
      margin: 0px auto;
      padding: 25px 10px; }
      footer .copyright .end nav {
        display: inline-block; }
        footer .copyright .end nav ul {
          padding: 0px;
          margin: 0px; }
          footer .copyright .end nav ul li {
            display: inline-block;
            margin: 0 10px 0 0; }
            footer .copyright .end nav ul li a {
              color: #a7aeb5; }
              footer .copyright .end nav ul li a:hover {
                color: #ecedee;
                -webkit-transition: 0.5s;
                transition: 0.5s; }
      footer .copyright .end p {
        float: right;
        color: #a7aeb5;
        font-size: 12px;
        margin: 0px; }

@media (max-width: 750px) {
  footer .footerabout {
    height: auto; }
    footer .footerabout .about-wrapper {
      padding: 20px 0;
      height: auto; }
      footer .footerabout .about-wrapper .imgabout {
        display: none !important; }
      footer .footerabout .about-wrapper .contact {
        display: block;
        float: none; 
        margin: 0;
        text-align: center;}
  footer .copyright .end nav {
    display: none !important; }
  footer .copyright .end p {
    width: 160px;
    margin: 0 auto !important;
    float: none !important; } }
/*first page scene and search section */
.scene {
  width: 100%;
  position: relative; }
  .scene .homeSlider{
    width: 100%;
    display : none;}
  .scene .homeSlider .bx-wrapper{
    width: 100%;
    padding: 0;
    margin: 0;}
    .scene .homeSlider .bx-wrapper img{
    width: 100%;}
  .scene .homeSlider .bx-wrapper .bx-viewport{
    left: 0;
    border: none;
    background-color: #29333D;
    box-shadow: none;}
  .scene .homeSlider .bx-wrapper .bx-viewport ul{
    padding: 0;
    margin: 0;}
  .scene .homeSlider .bx-wrapper .bx-controls{
    display: none;}
  
  .scene .search {
    width: 730px;
    height: 290px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -365px;
    margin-top: -145px;
    padding: 0px 20px;
    display: none; }
    .scene .search #searchInfo {
      padding: 20px 0px;
      text-align: center;
      width: 630px;
      margin: 0 auto; }
      .scene .search #searchInfo .form-group {
        display: inline-block;
        text-align: left;
        margin: 0 0 5px 0;
        padding: 0px; }
        .scene .search #searchInfo .form-group label {
          color: white;
          font-size: 14px;
          font-weight: normal; }
        .scene .search #searchInfo .form-group #city-chosen .chosen-container {
          width: 630px;
          height: 34px; }
          .scene .search #searchInfo .form-group #city-chosen .chosen-container ul {
            border-radius: 5px;
            border-color: #ccc;
            height: 100% !important; }
        .scene .search #searchInfo .form-group #type-chosen .chosen-container {
          width: 313px;
          height: 34px; }
          .scene .search #searchInfo .form-group #type-chosen .chosen-container ul {
            border-radius: 5px;
            border-color: #ccc;
            height: 100% !important; }
        .scene .search #searchInfo .form-group #roomnumber-chosen .chosen-container {
          width: 313px;
          height: 34px; }
          .scene .search #searchInfo .form-group #roomnumber-chosen .chosen-container a {
            height: 34px;
            border: 1px solid #ccc; }
            /*.scene .search #searchInfo .form-group #roomnumber-chosen .chosen-container a span {
              padding-top: 3px; } */
        .scene .search #searchInfo .form-group #min-price {
          width: 122px; }
        .scene .search #searchInfo .form-group #max-price {
          width: 122px; }
        .scene .search #searchInfo .form-group #currency-chosen {
          width: 60px;
          height: 34px; }
          .scene .search #searchInfo .form-group #currency-chosen select {
            width: 100%;
            height: 100%;
            border-color: #ccc;
            border-radius: 5px;
            background-color: #fff;}
        .scene .search #searchInfo .form-group #search-button {
          width: 313px; }

@media (max-width: 750px) {
  .search {
    position: static !important;
    margin: 0px !important;
    width: 100% !important;
    background-color: #eee !important;
    height: auto !important;
    padding: 15px 0px !important; }
    .search #searchInfo {
      width: 300px !important;
      padding: 5px 0px !important; }
      .search #searchInfo .form-group label{
      color: black !important;}
      .search #searchInfo .form-group #city-chosen .chosen-container {
        width: 300px !important; }
      .search #searchInfo .form-group #city-chosen select {
        width: 300px !important;
        height: 34px;
        border: 1px solid #ccc;
        border-radius: 5px; }
      .search #searchInfo .form-group #type-chosen .chosen-container {
        width: 300px !important; }
      .search #searchInfo .form-group #type-chosen select {
        width: 300px !important;
        height: 34px;
        border: 1px solid #ccc;
        border-radius: 5px; }
      .search #searchInfo .form-group #min-price {
        width: 116px !important; }
      .search #searchInfo .form-group #max-price {
        width: 116px !important; }
      .search #searchInfo .form-group #roomnumber-chosen .chosen-container {
        width: 300px !important; }
      .search #searchInfo .form-group #roomnumber-chosen select {
        width: 300px !important;
        height: 34px; }
      .search #searchInfo .form-group #search-button {
        width: 300px !important;
        margin-top: 10px; }

  .searchButtonCircle {
    display: block; } }
/*LIST OF ADVERTISEMENTS */
.list {
  text-align: center; }
  .list .list-title {
    height: 80px;
    background-color: #545e6b;
    background-image: url(../img/footer.jpg);
    padding: 20px 0px; }
    .list .list-title h2 {
      color: white;
      font-size: 28px;
      margin: 0px; }
  .list .ads {
    padding: 50px 10px; }
    .list .ads .one {
      width: 310px;
      height: 200px;
      display: inline-block;
      position: relative;
      overflow: hidden;
      padding: 5px 5px;
      margin: 10px 10px;
      box-shadow: 0 3px 10px 2px rgba(0,0,0,0.14);
      background-color: #fff; }
      .list .ads .one .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #000;
        position: relative; }
        .list .ads .one .image a img {
          height: 190px;
          width: 100%;
          line-height: 0;
          -webkit-transition: all 1s ease;
          transition: all 1s ease; }
          .list .ads .one .image a img:hover {
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
            opacity: 0.8; }
        .list .ads .one .image:after {
          content: "";
          position: absolute;
          left: 0px;
          bottom: 0px;
          height: 25%;
          width: 100%;
          background-color: white;
          opacity: 0.8; }
        .list .ads .one .image .top {
          margin: 0px;
          width: 100%;
          height: 22%;
          color: white;
          position: absolute;
          left: 0px;
          bottom: 0px;
          z-index: 10;
          font-size: 12px; }
          .list .ads .one .image .top .bed {
            width: 22px;
            display: inline-block;
            text-align: center;
            border: none; }
            .list .ads .one .image .top .bed p {
              margin: 0px;
              color: black; }
              .list .ads .one .image .top .bed p:nth-child(2) {
                color: #F54701; }
          .list .ads .one .image .top .location {
            width: 90px;
            display: inline-block;
            text-align: center;
            border: none; }
            .list .ads .one .image .top .location p {
              margin: 0px;
              color: black; }
              .list .ads .one .image .top .location p:nth-child(2) {
                color: #F54701; }
          .list .ads .one .image .top .type {
            width: 82px;
            display: inline-block;
            text-align: center;
            border: none; }
            .list .ads .one .image .top .type p {
              margin: 0px;
              color: black; }
              .list .ads .one .image .top .type p:nth-child(2) {
                color: #F54701; }
          .list .ads .one .image .top .price {
            width: 92px;
            display: inline-block;
            text-align: center;
            border: none; }
            .list .ads .one .image .top .price p {
              margin: 0px;
              color: black; }
              .list .ads .one .image .top .price p:nth-child(2) {
                color: #F54701;
                font-weight: bold; }
    @media (max-width: 750px) {
      .list .ads .one {
        margin: 10px 0; }
       .list .ads{
        padding: 50px 5px} }

/*Advanced search Search section */
.searchSection {
  width: 100%;
  background-color: #F5F5F5 !important;
  display : none;}
  .searchSection #searchInfo {
    padding: 20px 10px;
    text-align: center;
    width: 630px;
    margin: 0 auto; }
    .searchSection #searchInfo .form-group {
      display: inline-block;
      text-align: left;
      margin: 0 0 5px 0;
      padding: 0px; }
      .searchSection #searchInfo .form-group label {
        color: #252525;
        font-size: 14px;
        font-weight: normal; }
      .searchSection #searchInfo .form-group #city-chosen .chosen-container {
        width: 300px !important;
        height: 34px; }
        .searchSection #searchInfo .form-group #city-chosen .chosen-container ul {
          border-radius: 5px;
          border-color: #ccc;
          height: 100% !important; }
      .searchSection #searchInfo .form-group #district-chosen .chosen-container {
        width: 300px !important;
        height: 34px; }
        .searchSection #searchInfo .form-group #district-chosen .chosen-container ul {
          border-radius: 5px;
          border-color: #ccc;
          height: 100% !important; }
      .searchSection #searchInfo .form-group #type-chosen .chosen-container {
        width: 300px !important;
        height: 34px; }
        .searchSection #searchInfo .form-group #type-chosen .chosen-container ul {
          border-radius: 5px;
          border-color: #ccc;
          height: 100% !important; }
      .searchSection #searchInfo .form-group #min-price {
        width: 116px; }
      .searchSection #searchInfo .form-group #max-price {
        width: 116px; }
      .searchSection #searchInfo .form-group #currency-chosen {
        width: 60px;
        height: 34px; }
        .searchSection #searchInfo .form-group #currency-chosen select {
          width: 100%;
          height: 100%;
          border-color: #ccc;
          border-radius: 5px; 
          background-color: white;}
      .searchSection #searchInfo .form-group #roomnumber-chosen .chosen-container {
        width: 300px !important;
        height: 34px; }
      .searchSection #searchInfo .form-group #roomnumber-chosen a {
        height: 32px;
        border: 1px solid #ccc; }
        /*.searchSection #searchInfo .form-group #roomnumber-chosen a span {
          padding-top: 3px; } */
      .searchSection #searchInfo .form-group #min-area {
        width: 148px; }
      .searchSection #searchInfo .form-group #max-area {
        width: 148px; }
      .searchSection #searchInfo .form-group #min-floor {
        width: 148px; }
      .searchSection #searchInfo .form-group #max-floor {
        width: 148px; }
      .searchSection #searchInfo .form-group #search-button {
        width: 300px; }

.searchButtonCircle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #414C57;
  z-index: 100000;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  display: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3); }
  .searchButtonCircle:hover {
    background-color: #707B85;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .searchButtonCircle span {
    position: relative;
    top: 13px;
    font-size: 32px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: white; }

@media (max-width: 750px) {
  .searchSection #searchInfo {
    width: 320px; }
    .searchSection #searchInfo .form-group #city-chosen select {
      width: 300px !important;
      height: 34px;
      border: 1px solid #ccc;
      border-radius: 5px; }
    .searchSection #searchInfo .form-group #district-chosen select {
      width: 300px !important;
      height: 34px;
      border: 1px solid #ccc;
      border-radius: 5px; }
    .searchSection #searchInfo .form-group #type-chosen select {
      width: 300px !important;
      height: 34px;
      border: 1px solid #ccc;
      border-radius: 5px; }
    .searchSection #searchInfo .form-group #roomnumber-chosen select {
      width: 300px !important;
      height: 34px; }
    .searchSection #searchInfo .form-group #search-button {
      margin-top: 10px; }

  .searchButtonCircle {
    display: block; } }

/*Announcement page description section */
.container-fluid{
	margin: 0;
	padding: 0 !important; }
.container-fluid .row{
	padding: 20px 0 0 0;
	margin: 0; }
.container-fluid .row #annSlider{
	margin: 0 0 30px 0;
	padding-top: 0; }
	
#annSlider img{
	/*max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);*/
}
	
.container-fluid .row #annSlider .expand {
	position: absolute;
	top: 0;
	width: 93%;
	height: 90%;
	text-align: right;
	font-size: 30px;
	cursor: pointer;
	font-weight: bold;
	color: #29333D;
}
.container-fluid .row #annSlider .expand:before {
	position: relative;
	top: 12px;
	right: 11px;
	display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  -webkit-transition-property: -webkit-transform;
	  transition-property: -webkit-transform;
	  transition-property: transform;
	  transition-property: transform, -webkit-transform;
}
.container-fluid .row #annSlider .expand:hover::before {
  	-webkit-transform: scale(1.3);
  	-ms-transform: scale(1.3);
  	    transform: scale(1.3);
}

.container-fluid .row .full-slider{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 100000;
	visibility: hidden;
	padding: 40px 0;
}
.container-fluid .row .full-slider .bx-wrapper{
	width: 90%;
	margin: 0 auto !important;
	height: 100%;
	padding: 0;
	z-index:1;
}
.container-fluid .row .full-slider .bx-viewport{
	height: 100% !important;
}
.container-fluid .row .full-slider .bx-viewport ul{
	height: 100%;
}
.container-fluid .row .full-slider .bx-viewport ul li{
	height: 100%;
}
.container-fluid .row .full-slider .bx-viewport ul li img{
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.container-fluid .row .full-slider .collapse{
	position: absolute;
	font-size: 30px;
	color: white;
	cursor: pointer;
	width: 100%;
	height: 100%;
	text-align: right;
	display: inline-block;
}
.container-fluid .row .full-slider .collapse:before{
	position: relative;
	top: 20px;
	right: 20px;
}	
.container-fluid .row .bx-wrapper{
	margin: 0;}

.container-fluid .row #annSlider .slider-wrap{
	position: relative;
}
.container-fluid .row #annSlider .bx-wrapper .bx-viewport{
	max-height: 90vh !important;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	height: 100% !important;
}
.container-fluid .row #annSlider .bx-wrapper .bx-viewport ul{
	height: 100%;
}
.container-fluid .row #annSlider .bx-wrapper .bx-viewport ul li{
	max-height: 100%;
}
.container-fluid .row #annSlider .bx-wrapper .bx-viewport ul li img{
	max-height: 100vh;
	
}
.container-fluid .row #annSlider .social-network{
	margin : 20px 0 0 0;
	padding: 0 5px;	
	width : 100%;
	text-align: center }	
.container-fluid .row #annSlider .social-network .whatsapp-sh{
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: 6px;
}
.container-fluid .row #description{
	margin: 0 0 20px 0; }
.container-fluid .row #description h2 {
  text-align: center;
   }
.container-fluid .row #description table{
	/* background-color: #EFEFEF; */
	margin: 0;
	}
.panel{
 box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14) !important;
}
.panel-title{
	font-size: 24px !important;
}
.panel .panel-heading{
	background-color: #27ae60 !important;
    color: white !important;
}
.container-fluid .row #description table tbody tr td {
  border: none;
  text-align: justify; }
.container-fluid .row #description table tbody tr td:nth-child(1) {
  text-align: right;
  color: #807F7F;
  min-width: 150px; }
.container-fluid .row #description table tbody tr td:nth-child(2) {
  font-weight: bold; }
.container-fluid .row #description table tbody tr #price {
  color: #F54701; }
  
.container-fluid .row #description table tbody tr button{
	height: 40px;
    min-width: 200px;
    background-color: #F54701;
    color: white;
    border: none;
    font-weight: normal;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.container-fluid .row #description table tbody tr button:hover{
	background-color: #E44201;
	border: none;
}
/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FB5614;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
      transform: scale(2);
}
.container-fluid .row #description .features{
	/* background-color: #EFEFEF; */
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
.container-fluid .row #description .features .row{
	padding: 0;
}
.container-fluid .row #description .features h3{
	text-align: center;
	font-size: 25px !important;
}
.container-fluid .row #description .features i{
	color: #27ae60;
}

@media (max-width: 991px) {
	.container-fluid .row #annSlider .expand {
	/*display: none;*/}
}

@media (max-width: 750px) {
	.container-fluid .row #annSlider{
	  padding: 0;}
	.container-fluid .row .full-slider{
	display: none;}
	.container-fluid .row #annSlider .bx-wrapper .bx-viewport{
	  padding: 0;
	  left: 0;
	  border: 2px solid #fff;}
	.container-fluid .row #description table tbody tr td:nth-child(1) {
	  min-width: 71px; }
	.container-fluid .row #description{
	  padding: 0;}	
	.container-fluid .row #description .features{
	  text-align: center;}
}

/*CONTACT page */
.sectionContact {
  min-width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0px auto;
  padding: 50px 10px 50px 10px; }
  
  .number-email{
  	width: 300px;
  	max-height: 187px;
  	min-width: 281px;
  	margin: 0 0 0 10px;
  	-webkit-box-align: center;
  	-webkit-align-items: center;
  	    -ms-flex-align: center;
  	        align-items: center;
  }
  .number{
  margin: 10px 0 30px 0}
  .number i{
  	font-size: 20px;
  	margin: 0 40px 0 0;
  }
  .number span{
  	font-size: 18px;
  }
  .email i{
  	font-size: 20px;
  	margin: 0 40px 0 0;
  }
  .email span{
  	font-size: 18px;
  }
  
  .sectionContactForm{
  	min-width: 300px;
  	width: 600px;
  }
  .sectionContact .panel-heading{
  text-align: center;}
  .sectionContact h3 {
    width: 100%;
    font-size: 27px;
    margin: 0 0 50px 0;
    text-align: center; }
  .sectionContact form .form-group {
    margin: 0px 0px 20px 0px; }
    .sectionContact form .form-group .nomre {
      padding-top: 0px; }
    .sectionContact textarea{
    max-width: 100%;}
    
@media (max-width: 750px){
	.sectionContact {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;}
	.number-email{
	text-align: center;
	margin: 0px;
	width: auto;}
	.sectionContactForm{
  	width: auto;}
  	#gg-recaptcha>div>div{width:inherit !important;position:relative;display:block;padding:0;overflow:hidden;max-width:302px;border-right:1px solid #d3d3d3;border-radius:4px;box-shadow:2px 0px 4px -1px rgba(0,0,0,.08);-webkit-box-shadow:2px 0px 4px -1px rgba(0,0,0,.08);-moz-box-shadow:2px 0px 4px -1px rgba(0,0,0,.08)} #gg-recaptcha iframe{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0} #gg-recaptcha>div{position:relative} #gg-recaptcha>div:before{content:'Loading captcha...';position:absolute;top:38%;left:0} #gg-recaptcha:empty:before{content:'Something wrong occured'}
}